.header-filter{
	color: #333;
	background-color: #f2f2f2;
	padding: 15px 20px 20px 20px;
}

.header-filter .row{
	position: relative;
}

.header-filter .row:after{
	clear: both;
	display: block;
	content: "";
}

.header-filter .row .label{
	position: absolute;
	left: 0;
	top: 0;
	left: 10px;
	font-size: 14px;
	width: 100px;
	text-align: right;
	padding-right: 10px;
	line-height: 30px;
}

.header-filter .row .items-container{
	padding-left: 120px;
}

.header-filter .row .items{
	float: left;
}


.header-filter .row .more{
	float: left;
	cursor: pointer;
	margin-left: 10px;
	line-height: 30px
}

.header-filter .row .items .name,
.header-filter .row .child-item,
.header-filter .row .third-item{
	float: left;
	font-size: 14px;
	text-align: center;
	min-width: 60px;
	margin-right: 3px;
	margin-bottom: 13px;
	cursor: pointer;
	padding: 8px 15px;
	background-color: #ccc;
}


.header-filter .row .items .name.active,
.header-filter .row .child-item.active,
.header-filter .row .third-item-container .third-item.active{
	background-color: #39c;
	color: #fff;
}

.header-filter .row .child-item.has-third-item{
	padding: 0;
	float: none;
	background-color: transparent;
}

.header-filter .row .third-item-container:after{
	content: "";
	display: block;
	clear: both;
}

.header-filter .row .third-item-container .title{
	float: left;
	line-height: 30px;
	margin-right: 10px;
}

.header-filter .row .third-item-container .third-item{
	float: left;
}

.header-filter .children-container{
	clear: both;
}

.header-filter .row .children-container .children{
	background-color: #e4e4e4;
	border: 1px solid #d7d7d7;
	padding: 13px 12px 0 13px;
	display: none;
}

.header-filter .children-container .children:after{
	content: "";
	clear: both;
	display: block;
}

.header-filter .children-container .children .child-item{

}

.header-filter .row .children-container .children.active{
	display: block;
}
