.header-filter{
	color: #333;
	background-color: #fff;
	border: 1px solid #eaeaea;
}

.header-filter .row{
	padding: 15px 0;
	margin: 0 15px;
	position: relative;
	border-bottom: 1px solid #eaeaea
}

.header-filter .row:after{
	clear: both;
	display: block;
	content: "";
}

.header-filter .row .label{
	position: absolute;
	top: 15px;
	left: 10px;
	font-size: 14px;
	width: 75px;
	text-align: right;
	padding-right: 10px;
	line-height: 30px;
	border-right: 1px solid #eaeaea;
}

.header-filter .row .items-container{
	padding-left: 120px;
}

.header-filter .row .items{
	float: left;
}
/*

.header-filter .row .more{
	float: left;
	cursor: pointer;
	font-size: 12px;
	height: 20px;
	padding: 6px 0 5px 0;
	margin-left: 10px;
	line-height: 20px
}*/

.header-filter .row .items .name,
.header-filter .row .child-item,
.header-filter .row .third-item,
.header-filter .row .more{
	float: left;
	margin-right: 3px;
	min-width: 100px;
	padding: 6px 0 5px 20px;

}

.header-filter .row .items .name span,
.header-filter .row .child-item span,
.header-filter .row .third-item span,
.header-filter .row .more span{
	text-align: center;
	cursor: pointer;
	height: 20px;
	color: #333;
	line-height: 20px;
	font-size: 12px;
	padding: 4px 8px;

}


.header-filter .row .items .name.active span,
.header-filter .row .child-item.active span,
.header-filter .row .third-item-container .third-item.active span{
	background-color: #39c;
	color: #fff;
}

.header-filter .row .items .name.haschild.active{
	background-color: #f7f7f7
}

.header-filter .row .items .name.haschild.active span{
	background-color: transparent;
	color: #333;
}

.header-filter .row .child-wrapper:last-child .third-item-container{
	border-bottom: 0;
}

.header-filter .row .child-item.has-third-item{
	padding: 0;
	float: none;
	background-color: transparent;
}

.header-filter .row .third-item-container:after{
	content: "";
	display: block;
	clear: both;
}


.header-filter .row .third-item-container .title{
	float: left;
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	padding: 5px 0 5px 10px;
	margin-right: 10px;
	color: #999;
}

.header-filter .row .third-item-container{
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 13px;
	padding-top: 13px
}


.header-filter .row .third-item-container:after{

}

.header-filter .row .third-item-container .third-item{
	float: left;
}

.header-filter .children-container{
	clear: both;
}

.header-filter .row .children-container .children{
	background-color: #f7f7f7;
	padding: 0 12px 0 13px;
	display: none;
}


.header-filter .children-container .children:after{
	content: "";
	clear: both;
	display: block;
}

.header-filter .children-container .children .child-item{
	padding: 12px;
}

.header-filter .row .children-container .children.active{
	display: block;
}
