<div class="funnel">
  <div class="hd">
    <h3 class="title">{{data.name}}</h3>
    <div class="headers">
      <div class="item" ng-repeat="item in data.headers">
        <div class="label">{{item.label}}：</div>
        <div class="value">{{item.value}}</div>
      </div>
    </div>
  </div>
  <div class="step" ng-repeat="item in data.nodes">
    <div class="content">
      <div class="name">{{item.name}}</div>
      <div class="pv"><strong>{{item.pv}}</strong> Visitors (pv)</div>
      <div class="uv"><strong>{{item.pv}}</strong> Unique Visitors (uv)</div>
      <div class="url">{{item.url}}</div>
    </div>

    <div class="ratio" ng-show="data.nodes[$index+1]">
      <div class="text">{{data.nodes[$index+1][data.ratekey]}}</div>
      <div class="text">{{(data.nodes[$index+1][data.ratekey] / item[data.ratekey] * 100).toFixed(2)}}%</div>
    </div>
  </div>
</div>