<div class="header-filter">
<div class="row" ng-repeat="row in data">
	<div class="label">{{row.name}}：</div>
	<div class="items-container">
		<div class="items" ng-show="$index < max || row.showMore" ng-repeat="item in row.children">
			<div ng-class="getItemClass(item,row.name)" ng-click="clickItem(item,row.name)" data-key="{{item.key}}">{{item.name}}</div>
		</div>

		<div class="more" ng-show="row.children.length > max && !row.showMore" ng-click="row.showMore=true">更多</div>
			
		<div class="children-container">
			<div ng-class="getChildrenClass(item, row.name)" ng-repeat="item in row.children">
				<div ng-repeat="child in item.children">
					<div ng-switch="!!(child.children && child.children.length)">
						<div ng-switch-when="true" class="third-item-container">
							<div class="title">{{child.name}}：</div>
							<div ng-class="getThirdItem(thirdItem, row.name)" ng-repeat="thirdItem in child.children" ng-click="clickChild(thirdItem, row.name)">{{thirdItem.name}}</div>
						</div>
						<div ng-class="getChildItemClass(child, row.name)" ng-switch-when="false" ng-click="clickChild(child, row.name)">
							{{child.name}}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	
</div>
</div>